<!DOCTYPE html>

<html lang="en">

	<head>
        <meta charset="utf-8">
        <meta name="Description" content="Open Data Protal for NYC's Publications">
        <title> {% block title %}{% endblock %} - Government Publications Portal</title>
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-select.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/gpp.css" />
	</head>

	<body onload="document.getElementById('main').scrollTop = $.jStorage.get('scrollPosition')">

		<!-- HEADER -->
		<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="min-width: 375px">
			<div class="navbar-header">
				<a class="navbar-brand" href="../index">
					<img src="../static/images/nyc_purple.gif" alt="NYC" style="width: 40px; height: 15px; margin-bottom: 4px">
					Government Publications Portal
				</a>
			</div>
		</div>
		<!-- HEADER -->

		{% block content %}
		{% endblock %}

		<!-- FOOTER -->
		<div class="navbar navbar-default navbar-fixed-bottom" style="min-width: 375px">
			<p class="navbar-text"> &copy; 2014 City of New York </p>
			<ul class="nav navbar-nav navbar-right" style="padding-right: 20px; height: 50px;">
				<li><a href="about">About</a></li>
				<li><a href="http://www.nyc.gov/html/records/html/contact/home.shtml">Contact</a></li>
                <li><a href="https://www.facebook.com/nycrecords" target="_blank"><img src="../static/images/facebook.png" alt="facebook" height="24" width="24"> Like Us! </a></li>
			</ul>
		</div>
		<!-- FOOTER -->

		<!-- JAVASCRIPT -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script type="text/javascript" src="../static/js/bootstrap-select.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/jstorage.min.js"></script>
	    <script type="text/javascript" src="../static/js/gpp.js"></script>
        <script type="text/javascript" src="http://raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>

	</body>
	
</html>